.home {
  padding: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  &__search {
    &--input {
      padding: 10px;
      width: 100%;
      max-width: 300px;
      box-sizing: border-box;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__table {
    width: 100%;
  }
}
